
{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        
        
        <form action="/accounts/registerDoctor" method="post" style="max-width: 400px; margin: 0 auto;" class="form px-3 my-5 shadow">
            <h4 class="text-center mt-5 pt-3">Register Doctor</h4>
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="medicalLicenseNumber" name="medicalLicenseNumber" placeholder="Medical License Number">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="speciality" name="speciality" placeholder="Speciality">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="subspeciality" name="subspeciality" placeholder="Subspeciality">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="department" name="department" placeholder="Department">
            </div>

            <div class="form-group">
                <textarea class="form-control" id="qualification" name="qualification" placeholder="Qualification"></textarea>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="workplace" name="workplace" placeholder="Workplace">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" id="contact" name="contact" placeholder="Contact">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            
            <input type="submit" class="btn btn-primary mb-3" value="Submit">
        </form>
    </div>
{% endblock %}