<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Doctor</title>
</head>
<body>
    <h2>Register Doctor</h2>
    <form action="/accounts/registerDoctor" method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        
        <label for="speciality">Speciality:</label><br>
        <input type="text" id="speciality" name="speciality"><br>
        
        <label for="department">Department:</label><br>
        <input type="text" id="department" name="department"><br>
        
        <label for="qualification">Qualification:</label><br>
        <input type="text" id="qualification" name="qualification"><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        
        <label for="contact">Contact:</label><br>
        <input type="text" id="contact" name="contact"><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
